.dockerignore
.DS_Store
.editorconfig
.envrc
.git
.gitattributes
.gitignore
.python-version
.vscode
.pylintrc

README.md
LICENSE

venv

docker-compose.yaml
requirements-dev.txt
deployment-script-hooks

manager.sh

